
body{
    background-color: rgb(232, 238, 234);
}

header{
    background-image: linear-gradient(darkblue,rgb(13, 72, 91), rgb(79, 79, 184));
    margin-bottom: 6px;
    color: white;
    text-align: center;
    padding-right: 0px;
}
form{
    margin-left: 5px;
    padding-bottom: 6px;
    border-style: none none solid none;
}
.weather_card{
    background-color: rgb(26, 26, 66);
    color: aliceblue;
    min-width: 100px;
}
.firstDay{
    background-color: rgb(97, 127, 117);
    border-style: solid;
    color: aliceblue;
}

